<div class="app">

    <div class="container-fluid row">

      <!-- HEADER -->
      <div class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            <a class="navbar-brand" href="#">{{ title }}</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav navbar-right">

              <li><a href="https://www.chamogeek.com" target="blank">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                ChamoGeek
                </a>
              </li>

            </ul>
          </div>

        </div>
      </div>
      <!-- /HEADER -->

      <!-- LIST -->
      <div class="panel panel-default" style="margin: 10px;">

        <div class="panel-heading">
          TO-DO List

          <div class="input-group pull-right" style="width: 350px; margin-top: -7px;">

            <input type="text" class="form-control" placeholder="Filter..."
              [(ngModel)]="search" name="search"
              (keyup)="onSearchChange($event)">

            <span class="input-group-btn">
              <button class="btn btn-default disabled" type="button">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
              </button>
              <button class="btn btn-default" type="button" (click)="sortList()">
                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
              </button>
              <button class="btn btn-default" type="button" (click)="clearList()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default" (click)="newItem()" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </span>
          </div>

        </div>

        <div class="panel-body">


            <record-component *ngFor="let todo of todos"
                [class.hidden]="!filter(todo)"
                [item]="todo"
                (itemchanged)="updateTodo($event)"
                (itemdeleted)="deleteTodo($event)">
            </record-component>


        </div>

        <div class="panel-footer">
            <div class="container-fluid row">
              <span class="badge pull-right">Total: {{ getTotal() }}</span>
              <span class="badge danger pull-right">TODO: {{ getRemainingCounter() }}</span>
              <span class="badge success pull-right">Done: {{ getDonesCounter() }}</span>
            </div>
        </div>

      </div>
      <!-- /LIST -->


      <!-- PERFORMANCE -->
      <label style="margin: 10px;">
        <input type="checkbox"
            name="showPerformanceTest"
            [(ngModel)]="showPerformanceTest"
            [checked]="showPerformanceTest" >
        Show Performance Test
      </label>

      <div class="container-fluid" style="padding-left: 10px; padding-right: 10px;" *ngIf="showPerformanceTest" >

        <performance-component
            [start]="1"
            [amount]="10000">
        </performance-component>

      </div>
      <!-- /PERFORMANCE -->

    </div>

</div>
